$default-background-dark-colour: #000;
$default-background-light-colour: #111;
$top-bar-background-colour: #222;

$movie-list-background-colour: #222;
$movie-list-hover-background-colour: #333;
$movie-list-item-bottom-border-colour: #444;

$movie-details-backdrop-left-colour: rgba(0, 0, 0, 0.2);
$movie-details-backdrop-right-colour: rgba(0, 0, 0, 0.9);